{% extends "principal/base.html" %}

{% block title %}
principal
{% endblock title %}

{% block content %}

<!-- Best  -->
<div id="jewellery" class="Best">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2 class="text-danger">Quienes somos?</h2>
                    <p class=""> Stained Glass es un sistema de inversión de alta tecnología en crypto-activos y educación
                        financiera, su producto principal se basa en brindar señales de trading que ofrecen una mayor
                        información sobre el mercado y los activos, y pueden suponer una gran ventaja para traders que
                        no tienen el tiempo o el conocimiento necesarios para hacer análisis exhaustivos y operar por
                        cuenta propia. Sin embargo, los servicios de señales de trading no constituyen asesoramiento
                        financiero. Si decide utilizar estas señales, deberá hacerlo bajo su propia responsabilidad, ya
                        que no es posible garantizar la precisión e infalibilidad de la información proporcionada.</p>
                    <p class="text-warning font-weight-bold">Misión: Ayudar al mayor número de personas a su crecimiento financiero y
                        personal.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="best_main">
                    <div class="row d_flex">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                            <div class="best_text">
                                <p class="font-weight-bold text-warning"> Para recibir las señales de trading debes adquirir un contrato POOL por un precio
                                    fijo de 30 USDT(TRC20) que deberá ser renovado cada 30 dias.</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                            <div class="best_img">
                                <!-- <h4>Plan Pool 30$</h4> -->
                                <figure><img src="../../static/images/beimg.png"></figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="best_main">
                    <div class="row d_flex">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                            <div class="best_text flot_left">
                                <p> Adyacente al producto principal se cuenta con un marketing de afiliados/ afiliación
                                    que es una rama del marketing en línea y se basa en la consecución de determinados
                                    resultados o acciones. Los afiliados se encargan de publicitar a los comerciantes
                                    mediante la publicación de sus anuncios o promociones. Dichos afiliados obtienen una
                                    comisión cuando el usuario entra en su página web y realizan una acción determinada
                                    (por ejemplo, registrarse o comprar). </p>
                                <p class="text-warning"> Es una opción que te brinda el 10% de las inversiones de los usuarios que ingresen
                                    gracias a tu labor de marketing, además recibirás comisiones del 3% al 30% por desarrollo
                                    de red y bonificaciones mensuales por carrera de liderazgo alcanzado.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Best -->
<!-- contact -->
<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                <div class="rable-box">
                    <figure>
                        <img src="../../static/images/cac.jpg" alt="#" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end contact -->

<!--  footer -->
{% endblock content %}